<!--<% provide(:title, "Top") %>-->
<!--<div class="center jumbotron">-->
<!--  <h1>勤怠管理システム</h1>-->
<!--  <p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集することができます。</p>-->
<!--  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>-->
<!--</div>-->


<% provide(:title, "Top") %>

<div class="row">
  
  <div class="col-md-7">
    <div class="center jumbotron" id="top-main">
    <h1 id="top-main-title">TaskApp</h1>
    <p>TaskAppは簡易ToDo管理ツールです。</p>
    <p>↓↓初めてのご利用↓↓</p>
    <a class="btn btn-lg btn-success" href="/signup">アカウント作成</a>
     
   </div> 
</div>  
  
<div class="col-md-4">
  <h1>ログイン</h1>
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

      <%= f.label :email, "メールアドレス", class: "label-login" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード", class: "label-login" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
        <%= f.check_box :remember_me, id: "remember-me" %>
        <span>ログイン情報を記憶する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
    <% end %>
    <!--<p>-->
    <!--  ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>-->
    <!--</p>-->
</div>   







<!--<% provide(:title, "Top") %>-->

<!--<div class="row">-->
  
<!--  <div class="col-md-7">-->
<!--    <div class="center jumbotron" id="top-main">-->
<!--    <h1 id="top-main-title">TaskApp</h1>-->
<!--    <p>TaskAppは簡易ToDo管理ツールです。</p>-->
<!--    <p>↓↓初めてのご利用↓↓</p>-->
<!--    <a class="btn btn-lg btn-success" href="/signup">アカウント作成</a>-->
     
<!--   </div> -->
<!--</div>  -->
  
<!-- <div class="col-md-4"></div>-->
<!--  <h1>ログイン</h1>-->
<!--  <fom action="/login" accept-charset="UTF-8" method="post"></fom>-->
<!--  <label class="label_form" for="session_email">メールアドレス</label>-->
<!--  <input class="form-control" type="email" name="session[email]">-->
<!--  <label class="label_form" for="session_password">パスワード</label>-->
<!--  <input class="form-control" type="password" name="session[password]">-->
<!--  <input id="remember-me" type="checkbox" value="1" name="session[remember-me]">-->
<!--  <span>ログイン情報を記憶する</span>-->
<!--  <%= link_to "ログイン", '#', class: "btn btn-primary btn-block btn-form" %>-->
    
<!--  </div> -->
<!--</div>   -->





<!--<% provide(:title, "Top") %>-->

<!--<div class="row">-->
  
<!--  <div class="col-md-7">-->
<!--    <div class="center jumbotron" id="top-main">-->
<!--    <h1 id="top-main-title">TaskApp</h1>-->
<!--    <p>TaskAppは簡易ToDo管理ツールです。</p>-->
<!--    <p>↓↓初めてのご利用↓↓</p>-->
<!--    <a class="btn btn-lg btn-success" href="/signup">アカウント作成</a>-->
     
<!--   </div> -->
<!--</div>  -->
  
<!-- <div class="col-md-4"></div>-->
<!--  <h1>ログイン</h1>-->
<!--  <fom action="/login" accept-charset="UTF-8" method="post"></fom>-->
<!--  <label class="label_form" for="session_email">メールアドレス</label>-->
<!--  <input class="form-control" type="email" name="session[email]">-->
<!--  <label class="label_form" for="session_password">パスワード</label>-->
<!--  <input class="form-control" type="password" name="session[password]">-->
<!--  <input id="remember-me" type="checkbox" value="1" name="session[remember-me]">-->
<!--  <span>ログイン情報を記憶する</span>-->
<!--  <input type="submit" name="commit" value="ログイン" class="btn btn-primary btn-block btn-form" data-disable-with="ログイン">-->
    
<!--  </div> -->
<!--</div>   -->



<!--  <p>-->
<!--    皆さんの手で、この最低限の土台となるアプリケーションから<br>-->
<!--    タスク管理機能を持ったアプリケーションへと作り替えていきましょう！-->
<!--  </p>-->

<!--  <p>現在このアプリケーションには、以下の機能が備わっています。</p>-->

<!--  <ul>-->
<!--    <li>ルートURLに対応したトップページ（このページです）</li>-->
<!--    <li>ユーザー機能-->
<!--      <ol>-->
<!--        <li>名前・メールアドレス・パスワード・ログイン認証用のカラムを持ったUserモデル</li>-->
<!--        <li>ユーザー新規登録と対応したページ</li>-->
<!--      </ol>-->
<!--    </li>-->
<!--    <li>ログイン機能-->
<!--      <ol>-->
<!--        <li>セッションによる一時的ログイン機能</li>-->
<!--        <li>Cookiesによる永続的ログイン機能</li>-->
<!--      </ol>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <p>実質【勤怠チュートリアル第７章】までの機能を持ったアプリケーションとなります。</p>-->
<!--  <center>-->
<!--    <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>-->
<!--    <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>-->
<!--  </center>-->
<!--</div>-->
